@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Rounded Light";
  src: url(../fonts/GothamRoundedLight.otf);
}

@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

@font-face {
  font-family: "Helvetica Medium";
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
  font-family: "Helvetica Bold";
  src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}

main {
  background-color: #fafafa;
}

nav {
  background-color: #383838;
}

.nav-logo-cont {
  padding: 0 0 0 15px;
}

.nav-logo-cont img {
  width: 75px;
}

.other-nav-items {
  padding-left: 20px;
}

.other-nav-items a {
  font-size: 12.3px;
  font-family: "Gotham Rounded Light", san-serif;
  color: #888;
  padding: 5px 0 0 17px;
}

.other-nav-items .link-highlight {
  color: #d35266;
}

.other-nav-items .nav-bottom {
  font-size: 15px;
  color: #fff;
  background-color: #d35266;
  margin-left: 10px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
}

.section-header {
  border-bottom: solid 0.5px #ddd;
  padding: 20px 0 0 30px;
}

.section-header span {
  padding: 0 0 0 12px;
}

.section-header img {
  width: 34px;
}

.section-header .big-words {
  font-size: 18px;
  font-family: "Helvetica Bold", san-serif;
  color: #888;
  font-weight: bold;
}

.section-header .small-words {
  font-size: 15px;
  font-family: "Helvetica Bold", san-serif;
  color: #888;
}

.section-cont {
  padding: 0 30px 0 30px;
  margin-bottom: 30px;
}

.section-cont .main-story {
  box-shadow: 0 1px 3px rgba(192, 190, 190, 0.52);
  border: solid 0.5px #ddd;
  background-color: white;
  margin-top: 30px;
}

.section-cont .main-story img {
  width: 100%;
}

.section-cont .main-story-description {
  font-size: 21px;
  font-family: "Gotham Rounded Light", san-serif;
  color: #383838;
  padding-left: 10px;
}

.section-cont .main-story .year {
  font-size: 16px;
  font-family: "Gotham Bold", san-serif;
  color: #d35266;
  padding-left: 10px;
}

.section-cont .main-story .location {
  font-size: 16px;
  font-family: "Helvetica Light", san-serif;
  color: #888;
  padding-left: 10px;
}

.section-cont .main-story .place {
  font-size: 18px;
  font-family: "Gotham Bold", san-serif;
  color: #383838;
}

.section-cont .main-story .plus-sign {
  border: 1px #888 solid;
  padding: 5px;
  margin-left: 10px;
}

.section-cont .main-story .price {
  font-family: "Gotham Bold", san-serif;
  font-family: 18px;
  color: #d35266;
  padding-right: 10px;
}

footer {
  border-top: 0.2px lightgrey solid;
  margin-top: 20px;
}

footer .top-content {
  max-width: 250px;
  margin: auto;
  text-align: justify;
}

footer .top-content-text {
  font-size: 14px;
  font-family: "Helvetica Medium", san-serif;
  color: #888;
}

footer .nav-cat {
  max-width: 280px;
  padding-top: 20px;
}

footer .nav-cat .footer-sub {
  color: #d35266;
  font-family: "Gotham Rounded Light", san-serif;
  border-bottom: 0.2px #d35266 solid;
  font-size: 18px;
}

footer .nav-cat ul {
  list-style: none;
  padding: 0 0 0 0;
}

footer .nav-cat a {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888;
}

footer .lower-select {
  max-width: 290px;
  margin: auto;
}

footer .lower-select .white-btn {
  width: 80px;
  color: #383838;
  background-color: #fff;
  padding: 5px;
  font-family: "Helvetica Medium", san-serif;
  border: #888 1px solid;
  border-radius: 3px;
}

footer .lower-select .country {
  color: #d35266;
  font-size: 18px;
  font-family: "Helvetica Medium", san-serif;
}

footer .lowest {
  margin-top: 30px;
  border-top: 0.3px lightgrey solid;
}

footer .lowest p {
  color: #888;
  font-family: "Gotham Rounded Light", san-serif;
  font-size: 15px;
  text-align: center;
  padding: 20px 10px 0 10px;
}
