@import "utilities";

@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Rounded Light";
  src: url(../fonts/Gotham-Light.otf);
}

@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

@font-face {
  font-family: "Helvetica Medium";
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
  font-family: "Helvetica Bold";
  src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}
