@import "queries";

.checkbox-item {
  margin: 10px 0;
  font-family: $helvetica-l;
  font-size: 14px;
  color: $primary-black;
}

aside {
  width: 215px;
  border-right: #ccc 1px solid;
  padding: 20px 15px;

  .select-group {
    padding-left: 10px;
    font-family: $gotham-light;

    h5 {
      padding: 10px 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: normal;
      color: $primary-black;
      font-family: $helvetica-b;
      border-bottom: #ccc 1px solid;
    }
  }
}

.results-header {
  font-weight: $gotham-bold;
  font-size: 18px;
  padding: 20px 0 20px 10px;
}

.card-result {
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
  }

  .description {
    font-size: 13px;
    font-family: $helvetica-l;
    color: $primary-gray;
    text-transform: lowercase;
    padding-left: 10px;
  }

  &-content {
    &-title {
      font-size: 16px;
      font-family: $gotham-light;
      padding-left: 10px;
    }

    .status-tag {
      font-family: $gotham-bold;
      color: $main-color;
      font-size: 15px;
      padding-left: 10px;
    }

    .brand-tags {
      font-family: $helvetica-l;
      font-size: 14px;
      padding-left: 10px;

      span {
        font-family: $gotham-light;
      }
    }

    &-btns {
      .price-btn {
        color: #fff;
        background-color: #d35266;
        padding: 5px;
        font-family: $helvetica-m;
        border-right: #9b3b49 solid 1px;
        margin-left: 5px;
        width: 50%;
        border-radius: 10px;
        align-items: center;
      }

      p {
        margin: 0;
      }
    }
  }
}
