@media only screen and (min-width: 530px) {
  .section-cont {
    .main-story {
      &-description {
        height: 186px !important;
        font-size: 21px !important;
      }

      .year {
        font-size: 16px !important;
      }

      .location {
        font-size: 16px !important;
      }

      .place {
        font-size: 18px !important;
      }

      .plus-sign {
        padding: 5px !important;
        margin-left: 10px !important;
      }

      .price {
        font-size: 16px !important;
      }
    }
  }

  .coont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-result-content-title {
    height: 48px;
  }

  .card-result {
    border-right: #ccc solid 1px;
    border-left: #ccc solid 1px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .card-result {
    &-content {
      padding-top: 10px;
      max-width: 665px;
    }

    .card-result-img {
      img {
        width: 300px;
      }
    }
  }

  .coont {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .section-cont {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .card-result {
    &-content {
      max-width: 665px;
    }

    .card-result-img {
      img {
        width: 360px;
      }
    }
  }
}
