@media only screen and (min-width: 530px) {
  .section-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .main-story {
    &-description {
      height: 186px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .section-cont {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-result {
    &-content {
      padding-top: 10px;
      max-width: 665px;
    }
    .card-result-img {
      img {
        width: 300px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .section-cont {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-result {
    &-content {
      max-width: 665px;
    }
    .card-result-img {
      img {
        width: 360px;
      }
    }
  }
}
