$main-color: #d35266;
$primary-gray: #888;
$primary-black: #383838;
$white-color: #fff;

$gotham-bold: "Gotham Bold", san-serif;
$gotham-light: "Gotham Rounded Light", san-serif;
$helvetica-l: "Helvetica Light", san-serif;
$helvetica-m: "Helvetica Medium", san-serif;
$helvetica-b: "Helvetica Bold", san-serif;
$audiowide: "audiowide";
